<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iCare Message</title>
    <link rel="stylesheet" href="messageView.css">
</head>
<section>
    <div class="icare-overlay">
        <div class="top-icons">
            <div class="icare-logo-container">
                <img id="icare-logo" src="../assets/iCare_Logo_1_small.png" alt="icare-logo">
            </div>
            <div class="timer-container">
                <span class="timer-icon">
                    <img src="../assets/icons8-timer-48.png" alt="timer-icon">
                </span>
                <span class="timer-count">8</span>
            </div>
        </div>

        <header>
            <h1>
                Before your next video: 
            </h1>
        </header>

    <div class="message-container">
        <p class="message"></p>Count from one to one hundred!</p>
    </div>
    <button type='button' class="close-button">
        close 
    </button>
</div>
    
</section>
</html>