<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iCare Message</title>
    <link rel="stylesheet" href="messageView.css">
</head>
<section>
    <div id="icare-overlay">
        <div id="top-icons">
            <div id="icare-logo-container">
                <img id="icare-logo" src="../assets/logo.png" alt="icare-logo">
            </div>
            
            <div id="timer-container">
                <img id="timer-icon" src="../assets/icons8-timer-48.png" alt="timer-icon">
                <p id="timer-count">15</p>
                <p id="timer-unit">s</p>
            </div>
        </div>

        <header>
            <h1>
                Before your next video: 
            </h1>
        </header>

    <div id="message-container">
        <p id="message">Count from one to one hundred!</p>
    </div>
    <div id="button-container">
        <button type='button' id="close-button" class="disabled" disabled>
            close 
        </button>
    </div>
</div>
    
</section>
</html>